@charset "UTF-8";
.all {
    display:flex;
    justify-content:center;
}
.eventList {
    width:1500px;
    height:600px;
    overflow:auto;
    
}
.eventList .header {
    display:flex;
    font-weight:bold;
    list-style-type: none;
    justify-content:space-around;
    align-items:center;
}

.subRow.id.header input {
    color:white;
    font-weight:bold;
    background:#c00727;
    border:0px;
    border-radius:12px;
    height:40px;
    width:100px;
    box-shadow: 3px 3px 6px 2px #c1c1c1e3;
}
.subRow.id.header input:hover {
    color:#c00727;
    background:#ffffff;
}

.eventList .subRow.id {width:10%;}
.eventList .subRow.title {width:60%; font-weight:bold;}
.eventList .subRow.date {width:20%}

.eventList .row {
    display:flex;
    list-style-type: none;
    justify-content:space-around;
}

.subRow.title a {
    text-decoration:none;
    color:black;
}
.subRow.title a:hover {
    color:#c00727
}

#headerHr {
    margin:10px 20px 0px 20px;
    border: solid 1px #c007274a;
}