@charset "UTF-8";
.wrap {
  width: 100%;
  height: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ele1 {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 50%;
  margin: 20px 10px 5px 5px;
  overflow: auto;
}
.ele2 {
  display: inline-block;
  position: sticky;
  top: 10px;
  width: 50%;
  height: 600px;
  margin: 20px 5px 5px 10px;
  padding: 50px 5px 50px 5px;
}
.foodName {
  font-size: 30pt;
  font-weight: bold;
  padding: 25px;
}
.foodInfo {
  font-size: 14pt;
}
.foodImg {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  position: relative;
  padding: 25px;
}

.foodImg .prodImg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}

.foodImg .prodImg .img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 250px auto;
  background-position: center;
}


/* */

.radioBox {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.radio {
  margin: 10px;
}
.radio input[type="radio"]{
  display:none;
}

.radio input[type="radio"] + span{
  display:inline-block;
  background:none;
  border:1px solid #dfdfdf;
  padding:0px 10px;
  text-align:center;
  height:35px;
  line-height:33px;
  font-weight:500;
  cursor:pointer;
  border-radius: 10px;
}

.radio input[type="radio"]:checked + span{
  border:1px solid #c00727;
  background:#c00727;
  color:#fff;
  border-radius: 10px;
}

/* */

.inputBox input{
    background:transparent;
    border:none;
    border-bottom: solid 1px #ccc;
    padding:20px 0px 5px 0px;
    font-size:15pt;
    text-align:center;
    width:30%;
    font-family:-webkit-body
}

.button {
	display:flex;
	justify-content:space-around;
}

input[type=submit], input[type=button]{
    background-color: #c00727;
    border:none;
    color:white;
    border-radius: 5px;
    width: 80%;
    height: 80px;
    margin-top: 70px;
    font-size: 18pt;
    font-weight: bold;
    cursor:pointer;
}